body {
  text-align: center;
}

canvas {
  border: 1px solid grey;
}

#circlebutton {
  padding: 17px 25px;
  border-radius: 200px;
  width: 0px;
  background: url("img/arrow.jpg");
}
h1 {
  font-family: Snell Roundhand, cursive;
}
